<%- include('./partials/head.ejs') %>
  <body>
    <div class="container">
      <%- include('./partials/search.ejs') %>
      <%- include('./partials/nav.ejs') %>
      <%- include('./partials/header.ejs') %>
  
      <div class="picture-intro">
        <h2>
          <b>Delivering happiness in mealboxes to every doorstep.</b>
        </h3>
      </div>

  
      <%- include('./partials/footer.ejs') %> 
      

    </div>
   
    
  </body>
</html>