<%- include('./partials/head.ejs') %>
  <body>
    <div class="container">
      <%- include('./partials/search.ejs') %>
      <%- include('./partials/nav.ejs') %>
      <%- include('./partials/header.ejs') %>
  
      <div class="picture-intro">
        <h2>
          <b>Delivering happiness in mealboxes to every doorstep.</b>
        </h3>
      </div>
      
      <!--<div class="intro">
        <div class="image-container">
          <img src="/images/unsplash_0sYLBZjgTTw.png" alt="">
        </div>

        <div class="text-container">
          <div>ABOUT US</div>
          <h2>We are on a journey to revolutionizing local restaurant in Africa</h2>

          <div class="growth">
            <div class="point">
              <h1>100k+</h1>
              <h3>HAPPINESS DELIVERED</h3>
            </div>
            <div class="point">
              <h1>10k+</h1>
              <h3>CUSTOMERS</h3>
            </div>
            <div class="point">
              <h1>15+</h1>
              <h3>EATUP HEROES</h3>
            </div>
            <div class="point">
              <h1>15+</h1>
              <h3>VENDORS</h3>
            </div>
          </div>

        </div>
       
  
        
      </div>
  
  
      <div class="vision">
        <div>OUR VISION</div>
        <h2>Our vision is to give everyone easy access to food in their city by</h2>
  
        <div class="vision-explain">
  
          <div class="ref">
            <img src="/images/Groups 2.svg" alt="first vision icon">
            <h3>Leveraging Fastfood Consumer potential</h3>
          </div>
  
          <div class="ref">
            <img src="/images/Rocket launch.svg" alt="second vision icon">
            <h3>Accelerating Food Delivery Service Adoption</h3>
          </div>
  
          <div class="ref">
            <img src="/images/Autorenew.svg" alt="third vision icon">
            <h3>Building An Inclusive Fastfood Supply Chain</h3>
          </div>
          
        </div>
      </div> -->
  
      <%- include('./partials/footer.ejs') %> 
      

    </div>
   
    
  </body>
</html>