<%- include('./partials/head.ejs') %>
  <body>
    <div class="container">

      <%- include('./partials/search.ejs') %>      
      <%- include('./partials/nav.ejs') %>
      <%- include('./partials/header.ejs') %>

      <form class="form login">
        <div class="form-heading">
          <h3>Welcome Back</h3>
          <div>Sign in with your admin details to continue</div>
        </div>
        
        <label for="username"><b>Username:</b></label>
        <input type="text" placeholder="enter username" id="username" name="username">
        <div class="username-error"></div>

        <label for="Password"><b>Password:</b></label>
        <input type="text" id="Password" name="password" placeholder="enter Password">
        <div class="password-error"></div>

        <button class="btn">submit</button>
      </form>
      <%- include('./partials/footer.ejs') %> 
      
    </div>

    <script>

      (function loginAdmin(){
        const form = document.querySelector(".form.login");
        const usernameError = document.querySelector(".username-error");
        const passwordError = document.querySelector(".password-error");

        form.addEventListener("submit", async(e)=>{
          e.preventDefault();
          let username = form.username.value;
          let password = form.password.value;

          try {
            res = await fetch("/admin", {
              method : "post",
              body : JSON.stringify({username, password}),
              headers : {"content-Type" : "application/json"}
            })
            const data =  await res.json();

            if (data.id){
              location.assign('/admin/home');
            }
            
            if(data.err){
              usernameError.textContent = data.err.username;
              passwordError.textContent= data.err.password;
            }
            
          } catch (error) {
            console.log(error)
          }
          
        })

      }());

    </script>
    
  </body>
</html>