<%- include('./partials/head.ejs') %>
  <body>
    <div class="container">

      <%- include('./partials/search.ejs') %>
      <%- include('./partials/nav.ejs') %>
      <%- include('./partials/header.ejs') %>

      <div class="error-container">

        <div class="error-icon">
          <img src="/images/Unavailable.svg" alt="">
        </div>
        <h2>404 - Not Found</h2>
        <p>Sorry the page you are looking for cannot be found. Please click the button below to go back to homepage</p>

        <a href="/">
          <button class="btn">Back to Homepage</button>
        </a>

      

      </div>




      <%- include('./partials/footer.ejs') %>  
    

    </div>

    
     
    
  </body>
</html>